#smallRestCardBody{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     overflow: hidden

//     img{
//         flex-shrink: 0;
//         min-width: 100%;
//         min-height: 100%
//     }
// }
 width: 500px;
 height: 500px;
 border: 5px solid black;
}