#smallRestCardBody{
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 350px;
    width: 300px;

    img{
        border: 3px solid black;
        border-radius: 5%;
        flex-shrink: 0;
        width: 80%;
        height: 80%
    }
}

