main {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #adada9, #837771);

  background-size: cover;
  background-repeat: no-repeat;
}


footer {
  box-shadow: 0px -5px 10px rgba(224, 218, 216, 0.226);
  
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(107, 123, 138, 0.8); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #008fb3; 
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
