main{
  margin: 0;
  padding: 0;
  background-color: rgba(131, 126, 126, 0.712);
  height: 100rem;
  
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');