main{
  margin: 0;
  padding: 0;
  background-color: rgba(68, 75, 80, 0.993);
  
}
html{
  background-color: rgba(68, 75, 80, 0.993);

}

footer {
  background-color: rgba(68, 75, 80, 0.993);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(107, 123, 138); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #008fb3; 
}

#nav-header{
  color:rgb(158, 151, 151);
  &:hover{
    color: white;
    
  }
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');