#hero-section{
   
    background-image: url('../../assets/images/foodie-hero-img.jpg');
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 75%;
    margin: auto;
    opacity: 85%;
    box-shadow: 1px 1px 5px black ;
}
#intro-statement{
    font-family: 'Merriweather', serif;
    width: 75%;
    margin: auto;
    text-shadow: 2px 2px 4px rgb(32, 31, 31);
    color: rgb(230, 187, 132);

    #intro-h1{
        font-size: 2.1rem;
    }
    #intro-h2{
        font-size:18px;
        text-shadow: 2px 2px 4px rgb(32, 31, 31);

    }
    #recentUploads{
        font-size: 22px;
        box-shadow: 1px 15px 50px rgba(245, 240, 240, 0.555) ; 
    }

      
}
#intro-restaurants{
    width: 90%;
    margin: auto;
}
.card{
    box-shadow: 1px 5px 10px rgb(14, 13, 13);
    color: rgb(230, 187, 132);
    background-color: rgba(74, 75, 77, 0.973);
    
 
    #rest-card-header{
        background-color: rgba(74, 75, 77, 0.993);
        text-shadow: 2px 2px 4px rgb(32, 31, 31);

        
    }
    #card-img-container{
        overflow-x: auto;
        
        background-color: rgba(74, 75, 77, 0.897);
    }

  
  
}
