#hero-section{
   
    background-image: url('../../assets/images/foodie-hero-img.jpg');
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 80%;
    margin: auto;
    opacity: 85%;
    box-shadow: 1px 1px 5px black ;
}
#intro-statement{
    color: rgba(255, 255, 255, 0.767);
    font-family: 'Merriweather', serif;
    width: 80%;
    margin: auto;

    h1{
        color: rgb(253, 253, 253);
        font-size: 2.1rem;
        font-family: 'Merriweather', serif;
        text-shadow: 2px 2px 4px rgb(32, 31, 31);
   
        
    }
    h2{
        color: rgb(253, 253, 253);
        font-size:18px;
        text-shadow: 2px 2px 4px rgb(32, 31, 31);

    }
    h3{
        color: rgb(253, 253, 253);
        font-size: 22px;
        text-shadow: 2px 2px 4px rgb(32, 31, 31);
        box-shadow: 1px 15px 75px rgba(245, 240, 240, 0.555) ; 
    }

      
}
#intro-restaurants{
    width: 80%;
    margin: auto;
}

img{
    border-radius: 10px;
}