.card{
    box-shadow: 1px 5px 10px rgb(60, 59, 61);
    color: rgb(230, 187, 132);
    background-color: rgba(74, 75, 77, 0.973);
    
 
    #rest-card-header{
        background-color: rgba(74, 75, 77, 0.993);
        text-shadow: 2px 2px 4px rgb(32, 31, 31);

        
    }
    #card-img-container{
        overflow-x: auto;
        
        background-color: rgba(74, 75, 77, 0.897);
    }

  
  
}