#comment-box-wrapper{
    height: 15rem;
    overflow-y: auto;
    background-color: rgb(102, 104, 107);

}
#comment-box{
    background-color: rgb(102, 104, 107);
    border-top: 1px solid rgb(73, 70, 70);
    
}

#desc-box{
    
    
    #userCommentImg{
   
        border-radius: 50%;
        
        
    }
    #userName{
        font-size: 20px
    }
    #resDesName{
        font-size: 23px;
    }




}



